*{
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: 'Roboto', sans-serif;


}

/*navbar*/
.navbar-brand>img {
    margin-left: 56px;
    width: 50%;
}
.navbar-default {
    background-color: #ffffff;
    padding-bottom: 20px;
    margin-bottom: 0;
}
/*HEADER*/
.ride{
    background-image: url("../img/taxi.jpg");
    width: 100%;
    height: 113vh;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;


}
.yellow-box{
    background-color: #f7b617;
	position: absolute;
    right: 0;
    width: 41%;
	box-sizing: border-box;
	padding: 40px 60px 50px 40px;
    color: white;
    flex-direction: column;
    top: 23%;
    overflow: hidden;



}
.yellow-box small{
    text-align: center;
}

.yellow-box button{
    margin-top: 26px;
    width: 85%;
}
.btn-primary {
    background-color: #fff;
    color: #2b2b2b;
    border-color: #fff;
    font-weight: 700;
    font-size: 80%;

}
.hidden-yellow button{
    width: 179%;
    justify-content: center;

}
header{
    display: flex;
	align-items: center;
	
}
.yellow-box .start-logo {
    width: 82%;
}
/*inputs*/
.inputs{
margin-top: 20px;
border: none;
color: white; 


}
.button{
    font-weight: 700;
    width: 100%;
}

.yellow-box img{
    width: 19%;
}
 input{
    border-bottom: 1px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color:#f7b617;

 }
 /*DOWNLOAD APP*/
 .download-app{
    background-color:#f7b617;
    width: 100%;
    color: white;
    padding-bottom: 30px;
    padding-top: 30px;
 }
 .download-app p{
font-size: 20px;
 }
 .border{
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    padding-bottom: 28px;
 }
 .download-app img{
    width: 63%;
    margin-top: 2%;
    margin-bottom: 2%;
 }
 /*DRIVE CONTAINER*/
 .drive{
    background-image: url("../img/conduce.jpg");
    width: 100%;
    height: 95vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
 }
 .gray-box{
    margin-left: 14%;
    margin-bottom: 42%;
    width: 80%;
    box-sizing: border-box;
    padding: 20px 0 57% 55px;
    color: white;
    background-color: black;
    opacity: 0.5;
    position: absolute;
    overflow: hidden;


 
 }

.cont-save button{
    background-color: #f7b617;
    border-radius: 3px;
    color: white;
    padding-bottom: 9px;
    padding-top: 8px;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
}

/*TARIFAS*/
.tarifas{
    background-color: #f7b617;
    width: 100%;
    color: white;
    font-family: 'icomoon';
    padding-top: 5%;
    padding-bottom: 5%;
}
.find-me{
    margin-right: 2%;
        padding-left: 6%;
    padding-top: 2%;
}
.btn-block {
    display: block;
    width: 40%;
    margin-left: 64px;
    border-color: #f7b617;
}
btn-default:hover {
    border-color: #f7b617;
}
.form-control {
    width: 58%;
    
}
.white{
    color: whitesmoke;
    border: 1px solid white;
    border-radius: 5px;
    padding: 7px;
}
input::-webkit-input-placeholder {
  color: white;
}
input:-moz-placeholder {
  color: white; 
}
input:-ms-input-placeholder { 
  color: white; 
}
.tarifas input{
    margin-bottom: 20px;
    background-color:#f7b617;
    width: 68%;
}

/*MAP*/
#map{
    height: 64vh;
    border: 7px double white;
    width: 35%;
    margin-bottom: 40px;
}

.map{
    margin-top: 20px;
}

/*FOOTER*/
footer {
    background-color: #2B2B2B;
    color: #fff;
    padding: 60px;
}
.options{
	line-height: 30px;
}
.market-place{
	margin-top: 120px;
}

.social-media{
	color: #fff;
	margin-left: 8px;
    margin-top: 114%;
}
.app-store{
	width: 150px;
	margin-top: 10px;
    display: block;

}
.sociales:hover{
	color: burlywood;
}

li{
	color: #fff;
}
 a {
    list-style:none;

	}
li:hover{
	color: burlywood;
}
.copyright{
	text-align: center;
}
.visible{
    margin-top: 20px;
}
.pad-photo{
    padding-top: 20px;
    padding-bottom: 20px;
}
@media (max-width: 30em) {
    h1,h2,h3{
    font-size: 16px;
    }
  .border {
   border: 1px solid white;
    
  }
  .download-app{
      padding: 30px;
  }
.cont-save{
    width: 100%;
}
.gray-box{
    margin-left: 0%;
    margin-right: 32%;
    margin-bottom: 29%;
    width: 100%;
    padding: 39px 52px 44% 39px;
    position: absolute;
}
.find-me {
    padding-left: 7%;
    padding-top: 6%;
    padding-bottom: 6%;
}
.yellow-box{
        top: 41%;
}
.button{
    width: 100%;
}

.row{
    margin: 0;
    padding: 0;
}

.btn-block{
    margin-left: 103px;
}

}
